<table
  style="width:100%;background:#fafbfc;margin:12px 0;padding:40px 40px 25px;border-radius:10px;border-spacing:0px;text-align:left">
  <tbody>
    <tr>
      <td> <img width="85"
          src="https://res.cloudinary.com/cdn-crecer/image/upload/v1712795188/crecer-logo.png"
          title="Trello" class="CToWUd" data-bit="iit"> </td>
    </tr>

    <tr>
      <td>
        <h2
          style="font:28px -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;font-weight:700;line-height:33px;margin:20px 0 16px;letter-spacing:-0.5px">
          Alejandra te ha invitado a colaborar </h2>

        <p style="line-height:21px"> Únete a <span >CRECER</span> para formar parte del equipo y gestionar el negocio hasta la cima </p>

        <p style="margin:24px 0;line-height:32px"> <a
            href="http://localhost:3000/sign-up?invitationToken={{ invitationToken }}"
            style="border-radius:3px;background:#FF6F4F;color:#ffffff;font-weight:500;line-height:20px;font-weight:500;text-decoration:none;padding:8px 15px;margin-bottom:0"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=http://localhost:3000/sign-up?invitationToken={{ invitationToken }}">
            Empezar a colaborar </a> </p>

        <p style="line-height:21px;margin:0;margin-top:24px"> <b>¿Qué es <span >CRECER</span>?</b> Es un negocio de
          reposteria creado por Alejandra en el año 2023, nuestro objetivo es llevar el negocio al éxito.</p>
      </td>

    </tr>
  </tbody>
</table>